@import '../../index.scss';

.card {
  width: 80%;
  padding: 20px;
  background-color: $colorSmokyWhite;
  -webkit-box-shadow: 5px 5px 8px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 5px 5px 8px 0px rgba(34, 60, 80, 0.5);
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  &:hover {
    background-color: $colorGreen;
  }

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__user {
    margin-right: 5px;
    color: $colorText;
  }
}

@media (max-width: 576px) {
  .card {
    width: 95%;
    padding: 10px;
  }
  
  .card__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
